# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Env / secrets
.env
*.env.local

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

docs/
docs/_build/
.docs/
.docs*